
body{
  /* background-image: url("../imagenes/fondo6.jpg"); */
  margin:0;
  font-family: nexaBold;
  font-weight: lighter;
}

  @font-face {
    font-family: nexaBold;
    src: url('../fonts/Nexa_Bold.otf'), url('../fonts/Nexa_Light.otf');
}
